

<!DOCTYPE html>
<html>
<head>
  <link REL=styleSheet href= "style.css"  type='text/css'  media="screen">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel=" stylesheet">
</head>
  <body>

            <h1>Alta de Usuario</h1>   
            

  <form name= "registracion">
     <hr> <!-- SEPARACION EN LINEAS  -->
       <div>
             
         <label id="nombre"> Nombre: </label>  <input type="textbox" name="nombre" placeholder= "Ingrese nombre" />  
         <br> 
         <label id="apellido"> Apellido: </label>  <input type="textbox" name="apellido" style="width:240px" placeholder= "Ingrese Apellido" />
            <br>
       <label id="numero"> Numero Telefonico: </label> <input type="textbox" name="numero" placeholder= "Ingrese Numero" />     <br>
          <label id="password">  Password: </label>   <input type="password" name="contrasena"  />
            <br>
          <label id="reingrese"> Reingrese Password: </label> <input type="password" name="reingreso" />
            <br>  
           <label id="fecha"> Fecha de Nacimiento: </label> <input type="date" name="dia"> 
            <br>  
            <label id="mail"> Mail: </label> <input type="textbox" style="width:240px" name="mail"  />
            <select>
                     <option value=""> </option>
                     <option value="GMAIL"> Gmail </option>
                     <option value="HOTMAIL"> Hotmail</option> 
                     <option value="YAHOO"> Yahoo</option>
                     <option value="ORANGE" > OrangeMail</option>
                     <option value="LatinMail"> LatinMail</option>
                     <option value="HISPAVISTA"> Hispavista</option>
                     <option value="GMX"> Gmx</option>

                   </select>
             <br>
             <label id="web"> Pagina Web: </label> <input type="textbox" style="width:280px" name="web"  />
              </div>
                
                 <label id="genero"> GENERO: </label> 
                  <input type="radio" name="sexo" value="masculino"  />   <font color="#FFFFFF">  Masculino  </font>     
                   <input type="radio" name="sexo" value="femenino"  /> <th>  <font color="#FFFFFF">  Femenino   </font>  

                   <br>
                    <br>
                     <label>*Haciendo Click usted estara de acuerdo con los terminos y condiciones   </label> 
                       <br> 
                       <br>
                     <label id="acepto"> Acepto </label> <input type="checkbox" name="terminos" value="valor1" unchecked  />
                     <br>
                   <input type="button" name="registrar"  value="Registrarse" />    

           

      
    
    
      
  
  </form>




</body>



</html>

