
<link rel="stylesheet" type="text/css" href="style.css">


<div class="container">

    <form id="signup">

        <div class="header">
        
            <h3>Logueate!</h3>
            
            <p>Escriba mail y password!</p>
            
        </div>
        
        

        <div class="inputs">
        
            <input type="email" placeholder="e-mail"     autofocus />
        
            <input type="password" placeholder="Password" />
            

            <input type="button" name="Ingresar" value="Ingresar">

            <input type="button" name="clave" value="Olvide Mi Clave"  >                
           

          </div>

            
            

            
        
       

    </form>

</div>
​